p {
  font-size: 55px;
  font-weight: 100;
  font-style: normal;
}

#livres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book_container {
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: aliceblue;
  width: 200px;
  border-radius: 15px;
  background-image: url("https://source.unsplash.com/400x400/?book");
  box-shadow: 2px 2px 5px -1px rgb(202 202 202 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book_container:hover {
  box-shadow: 2px 2px 5px -1px rgb(202 202 202 / 100%);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

.form-row input {
  padding: 10px;
  border: 1px solid #242424;
  border-radius: 10px;
}

#contact button {
}
.form_block {
  background-color: #f6f8f7;
}

#contact h4 {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #292e3d;
  text-align: center;
  margin-bottom: 19px;
  margin-top: 60px;
}

.form_subtitle {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #292e3d;
  margin-bottom: 65px;
}

#contact button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  background: #2947a9;
  border-radius: 2px;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 50%;
  color: #ffffff;
  margin-top: 57px;
}

.form_block {
  display: flex;
  justify-content: center;
}

#contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

#contact label {
  /* Body/default */
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* Neutral/300 */
  color: #a3aac2;
}

#contact input,
#contact textarea {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 8px;
  gap: 10px;

  background: #ffffff;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.textarea-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea-block textarea {
  min-height: 135px;
}
